@model SmartSEO.Models.Customer
@{
    ViewBag.Title = "编辑客户";
}
<div class="span2">
    <div class="well sidebar-nav">
        @Html.Partial("Custom/_QuickMenu")
    </div>
</div>
<div class="span10">
    <ul class="breadcrumb">
        <li><a href="@Url.Content("~/")">网络营销</a><span class="divider">/</span> </li>
        <li><a href="@Url.Content("~/Customer/")">客户管理</a><span class="divider">/</span>
        </li>
        <li class="active">编辑客户</li>
    </ul>
    <fieldset>
        <legend>编辑客户</legend>
        <form class="form-vertical" action="@Url.Content("~/Customer/Edit")" method="post">
        
        <div class="control-group">
            <div class="controls">
                姓名：<input type="text" name="UserName" class="span4" value="@Model.UserName">
                性别：<select name="Sex" class="span4">
                    <option selected="selected" value="0">男</option>
                    <option value="-1">女</option>
                </select>
                <input type="hidden" name="ID" value="@Model.ID" />
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                年龄：<input type="text" name="Age" class="span4" value="@Model.Age">
                职位：<input type="text" name="Role" class="span4" value="@Model.Role">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                籍贯：<input type="text" name="Origin" class="span4" value="@Model.Origin">
                邮箱：<input type="text" name="Email" class="span4" value="@Model.Email">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                网址：<input type="text" name="Url" class="span4" value="@Model.Url">
                邮编：<input type="text" name="ZipCode" class="span4" value="@Model.ZipCode">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                电话：<input type="text" name="Phone" class="span4" value="@Model.Phone">
                住址：<input type="text" name="Address" class="span4" value="@Model.Address">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                业务：<input type="text" name="BusinessArea" class="span4" value="@Model.BusinessArea">
                渠道：<input type="text" name="Channel" class="span4" value="@Model.Channel">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                公司：<input type="text" name="CompanyName" class="span4" value="@Model.CompanyName">
                位置：<input type="text" name="CompanyAddress" class="span4" value="@Model.CompanyAddress">
            </div>
        </div>

        

        <div class="control-group">
            <div class="controls">
                备注：
                <textarea name="Remark" class="span4" rows="2">
                    @Model.Remark
                </textarea>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                提交
            </button>
            <button type="button" class="btn">
                取消
            </button>
        </div>
        </form>
    </fieldset>
</div>
