@model SmartSEO.Models.Signature
@{
    ViewBag.Title = "添加签名";
}
<div class="span2">
    <div class="well sidebar-nav">
        @Html.Partial("_QuickMenu")
    </div>
</div>
<div class="span10">
    <ul class="breadcrumb">
        <li><a href="@Url.Content("~/")">网络营销</a><span class="divider">/</span></li>
        <li><a href="@Url.Content("~/Signature/")">签名</a><span class="divider">/</span></li>
        <li class="active">添加签名</li>
    </ul>
    <fieldset>
        <legend>添加账号</legend>
        <form class="form-vertical" action="@Url.Content("~/Signature/Add")" method="post">
        <div class="control-group">
            <label class="control-label">
                签名标题</label>
            <div class="controls">
                <input type="text" name="Title" class="span12" value="@Model.Title">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                签名内容</label>
            <div class="controls">
                <textarea name="Content" class="ckeditor span12" id="Content">
                    @Model.Content
                </textarea>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                提交
            </button>
            <button type="button" class="btn">
                取消
            </button>
        </div>
        </form>
    </fieldset>
</div>
