@{
    ViewBag.Title = "编辑账号";
}
<div class="span2">
    <div class="well sidebar-nav">
        @Html.Partial("_QuickMenu")
    </div>
</div>
<div class="span10">
    <ul class="breadcrumb">
        <li><a href="@Url.Content("~/")">网络营销</a><span class="divider">/</span></li>
        <li><a href="@Url.Content("~/Account/")">账号资源</a><span class="divider">/</span></li>
        <li class="active">编辑账号</li>
    </ul>
    <fieldset>
        <legend>编辑账号</legend>
        <form class="form-vertical" action="@Url.Content("~/Account/Edit")" method="post">
        <div class="control-group">
            <label class="control-label">访问地址</label>
            <div class="controls">
                <input type="text" name="Url" value="@Model.Url">
                <input type="hidden" class="span12" name="AccountID" value="@Model.AccountID" />
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                登录账号：<input type="text" name="UserName" value="@Model.UserName">
                账户密码：<input type="text" name="Password" value="@Model.Password">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">备注信息</label>
            <div class="controls">
                <input type="text" name="Remark" class="span6" value="@Model.Remark">
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                修改
            </button>
            <button type="button" class="btn">
                取消
            </button>
        </div>
        </form>
    </fieldset>
</div>