@using Webdiyer.WebControls.Mvc
@model PagedList<SmartSEO.Models.CustomerHistory>
@{
    ViewBag.Title = "拜访记录";
}
<div class="span2">
    <div class="well sidebar-nav">
        @Html.Partial("Custom/_QuickMenu")
    </div>
</div>
<div class="span10">
    <ul class="breadcrumb">
        <li><a href="@Url.Content("~/")">网络营销</a><span class="divider">/</span> </li>
        <li><a href="@Url.Content("~/CustomerHistory/")">拜访记录</a><span class="divider">/</span>
        </li>
        <li class="active">拜访浏览</li>
    </ul>
    <fieldset>
        <legend>拜访浏览</legend>
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th style="text-align: center;">
                        客户名称
                    </th>
                    <th style="width: 75px; text-align: center;">
                        拜访时间
                    </th>
                    <th style="text-align: center;">
                        拜访人
                    </th>
                    <th style="text-align: center;">
                        常用操作
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    for (int i = 0; i < Model.Count(); i++)
                    {
                    <tr>
                        <td style="text-align: left;">
                            <a target="_blank" title="点击查看详情">
                            @Model[i].AccessPeople.UserName
                            </a>
                        </td>
                        <td style="text-align: center;">
                            @Model[i].Tick
                        </td>
                        <td style="text-align: center;">
                            @Model[i].VisitPeople.UserName
                        </td>
                        <td style="text-align: center;">
                            <a href="@Url.Content("~/CustomerHistory/Edit?id=")@Model[i].ID" class="btn">修改</a>
                            <a href="@Url.Content("~/CustomerHistory/Del?id=")@Model[i].ID" class="btn btn-danger">删除</a>
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </fieldset>
    <!--分页开始 page页码-->
    @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "page" })
    @if (Model != null && Model.Count == 0)
    {
        <div class="alert alert-info">
            <h4 class="alert-heading">
                提示</h4>
            暂无查询到数据。
        </div>
    }
</div>
